<div class="list">

{% for partner in partners %}
        <div class="list-item align-items-start row" style="margin-top: 0;">
            {%if partner.cover and not is_hidden_cover %}
                <div class="list-item-image gutter-right contain col-xs-12 col-md-2" style="background-image: url('{{partner.cover|crop_image|resize(280, null, {mode: 'crop'})}}')"></div>
            {% endif %}
			{% if show_covers_on_top %}
				<div class="col-xs-12 col-md-12"><img src="{{partner.cover|crop_image|resize(220, null, {mode: 'crop'})}}" style="max-height: 150px;"></div>
			{% endif%}
            <div class="list-item-column col-xs-12 col-md">

                {% if partner.instituion %}
                    <h3>{%if partner.instituion_url %}<a href="{{partner.instituion_url}}" target="_blank">{% endif %}{{partner.instituion}}{%if partner.instituion_url %}</a>{% endif %}</h3>
                {% endif %}

                {% if partner.city.name or partner.country.name %}
                    <div class="info">
                        <i class="pr normal p-location"></i>
                        {% if partner.city.name %}
                            {{partner.city.name}}
                        {% endif %}
                        {% if partner.country.name %}
                            {% if partner.city.name %}, {% endif %}
                            {{partner.country.name}}
                        {% endif %}
                    </div>
                {% endif %}
                
                {% if partner.email %}
                    <div class="info"><i class="pr normal p-mail"></i> <a href="mailto:{{partner.email}}">Contact</a></div>
                {% endif %}
                <div class="list-item-body">
                    {{partner.content|raw}}
                </div>
            </div>
        </div>
{% endfor %}
</div>
