<div class="list">
{% for partner in partners %}
        <div class="list-item align-items-start">
            {%if partner.cover %}
                <div class="list-item-image gutter-right contain" style="background-image: url('{{partner.cover.getThumb(280, 100, 'auto')}}')"></div>
            {% endif %}
            <div class="list-item-column">
                {% if partner.instituion %}
                    <h3>{%if partner.instituion_url %}<a href="{{partner.instituion_url}}" target="_blank">{% endif %}{{partner.instituion}}{%if partner.instituion_url %}</a>{% endif %}</h3>
                {% endif %}

                {% if partner.city.name or partner.country.name %}
                    <div class="info">
                        <i class="pr normal p-location"></i>
                        {% if partner.city.name %}
                            {{partner.city.name}}
                        {% endif %}
                        {% if partner.country.name %}
                            {% if partner.city.name %}, {% endif %}
                            {{partner.country.name}}
                        {% endif %}
                    </div>
                {% endif %}
                
                {% if partner.email %}
                    <div class="info"><i class="pr normal p-mail"></i> <a href="mailto:{{partner.email}}">Contact</a></div>
                {% endif %}
                <div class="list-item-body">
                    {{partner.content|raw}}
                </div>
            </div>
        </div>
{% endfor %}
</div>
